<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Dx Library for ZF2 Test">
            <directory>./DxTest</directory>
            <exclude>./DxTest/_files/</exclude>
            <exclude>./DxTest/AllTests/</exclude>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
            <group>integration</group>
            <group>integration-sqlserver</group>
        </exclude>
    </groups>

    <php>

        <!-- Integration Test Variables -->
        <!--<var name="ZEND_DB_ADAPTER_DRIVER_SQLSRV_HOSTNAME" value="" />-->
        <!--<var name="ZEND_DB_ADAPTER_DRIVER_SQLSRV_USERNAME" value="" />-->
        <!--<var name="ZEND_DB_ADAPTER_DRIVER_SQLSRV_PASSWORD" value="" />-->
        <!--<var name="ZEND_DB_ADAPTER_DRIVER_SQLSRV_DATABASE" value="" />-->

    </php>



</phpunit>
